DB_HOST=
DB_NAME=
DB_PORT=
DB_USER=
DB_PASS=

EMAIL_FROM=
EMAIL_PASSWORD=
SMTP_HOST=
SMTP_PORT=

ELASTIC_PORT=
ELASTIC_ADDR=

KAFKA_PORT=
KAFKA=ADDR=

SMS_API_KEY=
SMS_API_KEY_SANDBOX=

SMS_URL=

IP_ADDR=

REDIS_PORT=
REDIS_ADDR=
REDIS_PASSWORD=
REDIS_DB=

BUCKET_REGION=
BUCKET_ACCESS_key=
BUCKET_SECRET_key=
BUCKET_ENDPOINT=

PROFILE_PIC_BUCKET_NAME=
TEAM_PROFILE_BUCKET_NAME=
RESUME_BUCKET_NAME=